ul {
  list-style: none;
}
li {
  padding: 2%;
  margin: 1%;
}

.priorityHigh {
  color: red;
  border: solid red;
}
.priorityNormal {
  color: orange;
  border: solid orange;
}
.completed{
  text-decoration: line-through;
  color: green;
  border: solid green;
}
.not-completed{
  text-decoration: none;
}
